.modal-overlay {
    background: #000;
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    z-index: 1000;
}

.modal-window {
    position: fixed;
    left: 25%;
    top: 1%;
    width: 50%;
    min-width: 300px;
    border-radius: 2px;
    opacity: 1;
    display: none;
    max-height: 100%;
    height: auto;
    min-height: 300px;
    background: #fff;
    margin: 0;
    padding: 0;
    z-index: 1001;
    color: #757575;
}

.modal-header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    text-transform: uppercase;
    border-radius: 2px 2px 0 0;
    background-color: #7B1FA2;
    min-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    display: block;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.modal-title {
    font-size: 16px;
    line-height: 50px;
    width: 100%;
    color: #fff;
    font-weight: 400;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.modal-row {
    position: relative;
    text-align: center;
    width: 70%;
    min-width: 200px;
    min-height: 1px;
    margin: 0 auto;
    padding: 10px 0 0;
}

.modal-row:before, .modal-row:after {
    content: "";
    display: table ;
    clear: both;
}